body {
    background-color: papayawhip;
    opacity: 0.6;
}

/*  -- css polymer-element selector   --  */
h1 {
    color: blueviolet; text-align:center
}


/*   -------css id selector  ---- */

#p2t {
    color: black; font-weight:bold;
    border-style: ridge;
    border-block-color: black;
    margin: 100px 150px 175px 100px;
    padding: 50px 50px 50px 50px

}

/*  -----CSS class selector-------  */
/*   ---here due to defind p before . CSS will apply on only <p> elements with class="center"  */
p.center {
    text-align: initial;
    color: red;
    
}


/* The CSS Grouping Selector */

h3, h4, div {
    text-align: initial;
    color: purple;
}